body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

.search {
    flex-grow: 1;
    max-width: 35%;
    padding: 20px 10px;
}

.search-input {
    font-size: 15px;
    height: 30px;
    padding-left: 15px;
    max-width: 95%;
    width: 100%;
}

#map {
    height: 100%;
    flex-grow: 3;
}

#message {
    margin-top: 10px;
    margin-left: 18px;
}

.address-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 18px;
}

.address {
    cursor: pointer;
}